@page "/admin"
@using KantinaWeb.Models
@using KantinaWeb.Services
@inject AdminPermissions AdminPermissionsService

<PageTitle>Admin side</PageTitle>

<h3>List of users</h3>

<MudTable Items="users" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>User ID</MudTh>
        <MudTh>Brukernavn</MudTh>
        <MudTh>Email</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="User ID">@context.UserID</MudTd>
        <MudTd DataLabel="Brukernavn">@context.Brukernavn</MudTd>
        <MudTd Datalabel="Email">@context.Email</MudTd>
    </RowTemplate>
</MudTable>


@code {
    private List<UserObjects> users = new List<UserObjects>();

    protected override async Task OnInitializedAsync()
    {
        users = await AdminPermissionsService.GetUsers();
    }
}