@page "/menu"

<PageTitle>Menu</PageTitle>

<h1>Meny siden</h1>
<p>Her finner du alt på menyen.</p>

<a href="Frokost_meny">Frokost</a>
<a href="Lunch_meny">Lunch</a>
<a href="Drikke_meny">Drikke</a>

<h1>Dagens tilbud</h1>
