@page "/register"
@using KantinaWeb.Services
@using KantinaWeb.Models
@inject UserLogin UserLogin
@inject NavigationManager NavigationManager
<PageTitle>RegistrationForm</PageTitle>

<EditForm Model="@user" OnValidSubmit="HandleSubmit" FormName="RegistrationForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h1>Register en bruker her</h1> 
    <div>
        <label for="brukernavn">Brukernavn</label>
        <InputText id="username" class="form-control" @bind-Value="user.Brukernavn" />
    </div>
    <div>
        <label for="email">E-post</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="user.Email" />
    </div>
    <div>
        <label for="password">Passord</label>
        <InputText id="passord" type="password" class="form-control" @bind-Value="user.Passord" />
    </div>
    <button type="submit" class="form-control">Register bruker</button>
</EditForm>

@code {
    private UserObjects user = new();

    private async Task HandleSubmit()
   { 
        await UserLogin.Register(user);
        NavigationManager.NavigateTo("/");
       
    }
}
