@page "/register"

<PageTitle>RegistrationForm</PageTitle>

<form>
   <div>
      <h1>Register en bruker her</h1> 
       <label for="user">Brukernavn</label>
      <input type="text" placeholder="Enter brukernavn" name="brukernavn" id="brukernavn" required>
       <label for="email">E-post</label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
      <label for="passord">Passord</label>
      <input type="text" placeholder="Enter passord" name="passord" id="passord" required>
   </div>
</form>